@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&subset=cyrillic');
body {
   background: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
	font-weight: 300;
}
@font-face { 
		font-family: FloydianCyr;			
			src: url('fonts/FloydianCyr.ttf'); 
			src: url('fonts/FloydianCyr.eot?#iefix') format('embedded-opentype'),
			url('fonts/FloydianCyr.woff2') format('woff2'),                  
			url('fonts/FloydianCyr.woff') format('woff'),                   
			url('fonts/FloydianCyr.ttf')  format('truetype'),                
			url('fonts/FloydianCyr.svg#svgFloydianCyr') format('svg');
		font-weight: normal; 
		font-style: normal; 
}

.burger {
	display: none;
}

.navigation {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #fff;
	color: #000;
}
.navigation li{
	flex-grow: 1;
}
.navigation a {
	display: block;
	text-align: center;
	padding: 20px 0;
	text-decoration: none;
	color: #000;
	font-weight: 550;
	font-size: 20px;
}

.navigation a:hover{
	transform: scaleY(1.5) skewY(-4deg);
}


.navigation .teatre-name {
	position: relative;
	font-family: "FloydianCyr";
	font-size: 36px;
	letter-spacing: -2px;
	line-height: 19px;
}

.navigation .teatre-name::first-letter{
	letter-spacing: -23px;
	font-size: 50px;
}
.teatre-status{
	position: absolute;
	top: 12px;
	left: 0;
	transform: translateX(8vw);
	font-family: "Osvald", sans-serif;
	font-size: 15px;
	letter-spacing: normal;
}


	.board img{
		width: 100%;
		margin: 0 auto;
	}

	.board {
		overflow: hidden;
		background-color: black;
		width: 400px;		
		margin: 0 auto;
		margin-right: 40px;	
		float: left;
		border: solid white;
		border-radius: 16px;
		transition: all 0.5s linear;
	}

	.board:hover{
		filter:invert(1);
	}
@media (max-width: 691px) {

	.burger {
		display: block;
		position: fixed;
		width: 40px;
		height: 40px;
		right: 15px;
		top: 12px;
		z-index: 2;
		box-shadow: 0 0 0 2px #fff;
		border-radius: 5px;
	}
	.burger:before,
	.burger:after,
	.burger span {
		content: '';
		background-color: #fff;
		position: absolute;
		width: 85%;
		height: 2px;
		left: 50%;
  		transform: translateX(-50%);
		transition: all 0.5s ease;
	}
	
	.burger:before {
		top: 7;
	}

	.burger:after {
		bottom: 7;
	}

	.burger span{
		top: 19px
	}

	.burger.active {
		box-shadow: 0 0 0 2px #000;
	}

	.burger.active:before ,
	.burger.active:after ,
	.burger.active span {
		background-color: black;
		transform: scale(0);
	}
	.burger.active:before{
		transform: translate(-17px, 12px) rotate(-45deg) ;
	}
	.burger.active:after{
		transform: translate(-17px, -12px) rotate(45deg) ;
	}
	

	.navigation {
		flex-direction: column;
		position: fixed;
		top: -1000px;
		text-align: start;
		width: 100%;
		height: 100%;
		transition: 0.5s ease;	
	}

	.navigation.active {
		padding-left: 3vw;
		transform: translateY(1000px);
	}

	.navigation a:hover{
		transform: scaleY(1.1) skewY(-2deg);
	}

	.navigation li {
		flex-shrink: 8;
	}

	.navigation a {
		padding:  0;
		font-size: 7.5vh;
		text-align: start;

	}
	

	.navigation .teatre-name {
		line-height: 10vh;
	}
	.teatre-name::first-letter {
		font-size: 8.5vh;
		letter-spacing: -3.5vh;
	}
	.teatre-status {
		display: none;
	}

	.board {
		max-width: 98%;
		margin: 0 auto;
	}
}

h1{
    font-family: FloydianCyr;
	font-weight: 400;
	font-size: 95px;
	text-align:center;
	margin-top: 10px;
	margin-bottom: -40px;
}
h2{
    font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 30px;
	margin-bottom: -10px;
}
#header a{font-weight: 400; font-family: 'Oswald', sans-serif; fill:black;}
#header a:hover {fill:white; stroke: black; stroke-width: 1px;}
#header a:focus {fill:black; stroke: white; stroke-width: 1px;}
.logo1{	font-family: 'Oswald', sans-serif; font-weight: 400; }
.logo2{	font-family: FloydianCyr; }

.topbutton {
	text-decoration: none;
	width: 50px;
	height: 50px;
	opacity: .55;
	text-align:center;
	position:fixed;
	bottom:25px;
	right:25px;
	color:white;
	font-family:FloydianCyr;
	font-size:92px;
	background:grey;
	border-radius: 50%;
	border:2px solid white;
	padding:10px;
	user-select: none;
		transition: all 0.5s linear;
	}

a.topbutton:hover { background:white; color:grey; width: 70px; height: 70px; bottom:15px; right:15px; }
a.topbutton:active { background: grey; color:grey; }
footer{
	background:white;
	text-align:center;
}
.small { font: normal 16px 'Oswald', sans-serif; fill: black;}
.middle { font: normal 1.3vw 'Oswald', sans-serif; fill: black; }
.pan {user-select: none;}
.pan a{ font: 800 25px 'Oswald', sans-serif; fill: black; text-anchor:middle;}
.pan a:hover {fill:none; stroke: black; stroke-width: 1.5px;}
.pan a:focus {fill:black; stroke: white; stroke-width: 1px;}
.middle a{ font: 800 2vw 'Oswald', sans-serif; fill: black;}
.middle a:hover {fill:none; stroke: black; stroke-width: 1.5px;}
.middle a:focus {fill:black; stroke: white; stroke-width: 1px;}
#footmenu a{
	fill: white;	
}
#foot {
	display: inline-block;
	border: 5px solid transparent;
	opacity: .75;
	margin: 0;
	width: 40%;
}
#footlink {
	user-select: none;
}
#footlink img{
	margin:auto;
	margin: 0 1vw;
	width: 70px;
	border-radius:50%;
	box-shadow:0px 0px 0px 3px black;
	transition: all 0.5s linear;
	filter:invert(1);
}
#footlink img:hover{	
	background-color:black;
	filter:invert(0);
}
#footlink img:active{	
	filter:invert(0);
	background-color:white;
}
#foottext p{
	margin:4px auto;
	font-size: 14px;
	font-weight: 300;
}
.lbox{
	visibility: hidden;	
	opacity: 0;
	z-index: 99999;
}
.lbox:target{
	opacity:1;
	visibility: visible;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	background: black;
	position: fixed;
	z-index: 99999;
}
.box_img{	
	margin-left: 2.5%;
}
.box_img img{
    opacity: 0;
   }
.lbox:target .box_img img{
    position: fixed;    
    max-width: 85%;
    max-height: 100%;
	margin: 0;	
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}
.btn{
	color: #fff;
	font-family:FloydianCyr;
	text-decoration: none;
	position: absolute;
	width: 50px;
	height: 50px;
	font-size: 50px;
	text-align: center;	
}
.btn:hover{
	height: 70px;
	font-size: 70px;
}
#prev{
	left:2%;
	top: 50%;
    transform: translate(0, -50%);
	font-size: 100px;
}
#prev:hover{	
	font-size: 170px;
	height: 140px;
}
#next{
	right:2%;
	top: 50%;
    transform: translate(0, -50%);
	font-size: 100px;
}
#next:hover{	
	font-size: 170px;
	height: 140px;
}
#close{
	top:0;
	right:2%;	
}


.hamburger-menu{	display: none;
}

#menu__toggle {
  display: none;
}
#menu__toggle:checked ~ .menu__btn {
  filter:invert(1);
}
#menu__toggle:checked ~ .menu__btn:hover {
  filter:invert(0);
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  top: 0;
  transition-duration: .25s;
  opacity: 1;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 12px;
  right: 20px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 9999;
  background-color: white;
  border: 16px solid white;
  border-radius: 16px;
  box-shadow: 0 0 0px 3px black;
  transition-duration: .25s;
}
.menu__btn:hover{	
	filter:invert(1);
	cursor:pointer;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 3px;
  background-color: black;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -16px;
}
.menu__btn > span::after {
  content: '';
  top: 16px;
}
.menu__box {
  display: block;
  opacity: 0;
  position: fixed;
  top: -130vh;
  width:100%;
  margin: 0 auto;
  padding: 0;
  z-index: 999;
  list-style: none;  
  text-align: left;
  background-color: white;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  transition-duration: .5s;
}

.menu__item {
  display: block;
  padding: 3.7vh 24px;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 6vh;
  text-decoration: none;
  transition: all 0.25s linear;
}
.menu__item:hover {
  background-color: black;
  color: white;
}
.menu__big_item {
  display: block;
  padding: 3vh 14px 3vh;
  color: black;
  font-family:FloydianCyr;
  font-weight: 300;
  font-size: 12vh;
  text-decoration: none;
  transition: all 0.25s linear;
}
.menu__big_item:hover {
  background-color: black;
  color: white;
}

.mini_middle { display: none;}

.cssload-container {
	position: fixed;
	width: 100%;
	top:50%;
	transform: translate(0, -50%);
	text-align: center;
}
.cssload-speeding-wheel {
	width: 119px;
	height: 119px;
	margin: 0 auto;
	border: 7px solid rgb(255,255,255);
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 1100ms infinite linear;
		-o-animation: cssload-spin 1100ms infinite linear;
		-ms-animation: cssload-spin 1100ms infinite linear;
		-webkit-animation: cssload-spin 1100ms infinite linear;
		-moz-animation: cssload-spin 1100ms infinite linear;
}
@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}